* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-size: 16px;
}

/* styles header of the page including links at top of page */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*styles Horiseon title of webpage*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*styles "seo" in Horiseon a lighter gray to stand out*/
.header h1 .seo {
    color: #d9dcd6;
}
/*formats navigation links at top of page*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*makes links to be white text instead of standard purple*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*backgroung image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*float classes float the picture to desired side of the blue box*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*styles blue boxes containing the three articles*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*styles blue box containing benefit classes*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*styles paragraph contents in the benefit section of the webpage*/
.benefit-contents {
    margin-bottom: 32px;
    color:#ffffff;
}

 /*Consolidated Benefits class headers into one style since they all share the same style.*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*styles paragraph content in benefits part of webpage*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*formats content inside individual section*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}
/*formats inside individual section*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*formats content inside individual section*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*formats image inside blue box =*/
.search-engine-optimization img {
    max-height: 200px;
}
/*formats image inside blue box =*/
.online-reputation-management img {
    max-height: 200px;
}
/*formats image inside blue box =*/
.social-media-marketing img {
    max-height: 200px;
}
/*styles headers: Search Engine, Online Reputation, Social Media Marketing*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*styles footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*styles footer heading*/
.footer h4 {
    font-size: 20px;
}
